@import "../../../assets/sass/setup";
@import "../../../assets/sass/grid/mixins";


.error_container {
  padding: 50px 0 40px;
  @include breakpoint(large) {
    padding: 40px 0;
  }
  .error_404_image {
    display: block;
    max-width: 900px;
    margin: 0 -30px 10px;
    @include breakpoint(medium) {
      margin: 0 auto 25px;
    }
    @include breakpoint(layout) {
      margin-left: -8%;
    }
    @media (min-width: 1560px) {
      margin-left: -35%;
    }
  }
  .description_404 {
    color: #797979;
    h1 {
      color: $accent;
      font-size: 28px;
      line-height: 1.3em;
      text-transform: uppercase;
      @include breakpoint(tiny) {
        font-size: 34px;
      }
      @include breakpoint(small) {
        font-size: 40px;
      }
      @include breakpoint(layout) {
        font-size: 44px;
      }
    }
    small {
      display: block;
      font-size: 13px;
      line-height: 1.5em;
      margin-bottom: 15px;
      @include breakpoint(tiny) {
        margin-bottom: 25px;
        font-size: 16px;
      }
      @include breakpoint(medium) {
        font-size: 18px;
      }
    }
    .btn {
      width: auto;
      min-width: 220px;
      display: inline-block;
    }
  }
}
