<form [formGroup]="form" (ngSubmit)="create()" class="contact-form">

  <div class="input_wrap">
    <label>Title:</label>
    <input type="text" placeholder="Enter Title" formControlName="title" />
  </div>
  <div class="input_wrap">
    <label>Description:</label>
    <input type="text" placeholder="Enter Description" formControlName="description" />
  </div>

  <label class="control-label d-block">Select categories</label>
  <div formGroupName="categories">
    <div class="form-check w-25 d-inline-block" 
    *ngFor="let category of form.controls.categories['controls']; let i = index">
      <input 
        type="checkbox" 
        class="form-check-input" 
        id="{{allCategories[i]._id}}"
        [formControl]="category" 
        (change)="getSelectedCategories(category, allCategories[i].title)" 
      > 
      <label class="form-check-label" for="{{allCategories[i]._id}}">{{allCategories[i].title}}</label>
    </div>
  </div>



  <div class="input_wrap">
    <input type="file" #filePicker (change)="onImagePicked($event)">
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
  </div>


  
  <button type="submit" class="btn" [disabled]="!form.valid">
    Create course
  </button>
</form>