@import "../../../../assets/sass/setup";
@import "../../../../assets/sass/grid/mixins";
form {
  padding: 40px 0;
  .image-preview {
    height: 400px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 10px;
    }
  }
  .category_checkboxes {
    .section_title {
      font-size: 18px;
    }
    .col {
      padding: 0 3px;
    }
    .category_input {
      display: none;
      &:checked {
        & + .category_label {
          .category_wrap{
            border: 3px solid $secondary;
          }
          .category_wrap .custom_checkbox .icon {
            opacity: 1;
            transform: rotate(0);
          }
        }
      }
    }
    .category_label {
      margin: 3px 0;
      display: block;
      position: relative;
      height: 130px;
      width: 100%;
      overflow: hidden;
      border-radius: 10px;
      border: 3px solid transparent;
      transition: all 0.3s;

      &:before {
        content: "";
        @include position(absolute, 0 null null 0);
        width: 100%;
        height: 100%;
        background: rgba($color: $black, $alpha: 0.6);
        border-radius: 10px;
        overflow: hidden;

      }
      img {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .category_wrap {
        transition: all 0.3s;
        border-radius: 10px;
        overflow: hidden;

        @include position(absolute, 0 null null 0);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 20px;
        padding-right: 10px;
        line-height: 1.3em;
        color: $light;
        .custom_checkbox {
          width: 20px;
          min-width: 20px;
          height: 20px;
          min-height: 20px;
          background: $light-gray;
          border: 2px solid rgba($color: $black, $alpha: 0.2);
          border-radius: 100%;
          margin-right: 10px;
          position: relative;
          .icon {
            @include position(absolute, -2px null null -2px);
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            background: $secondary;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.4s ease-out;
            transform: rotate(-100deg);
            opacity: 0;

            &:before {
              margin-right: -6px;
              margin-top: -5px;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
  .btn {
    margin-top: 20px;
  }
}

.dropbox_outer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .dropbox {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    border: 3px dashed $secondary;
    &:before{
        content: '\f574';
        font-family: $icons;
        font-weight: 900;
        @include position(absolute, 50% null null 50%);
        transform: translate(-50%, -50%);
        font-size: 30px;
        color: $secondary;
        opacity: 0;
        transition: all 0.3s;
    }
    &.active {
      background: rgba($color: $secondary, $alpha: 0.1);
      &:before{
          opacity: 1;
      }
      span{
          opacity: 0;
      }
    }
    span {
      text-align: center;
      line-height: 1.3em;
      display: block;
      padding: 20px;
      font-size: 18px;
      color: $secondary;
      font-weight: 500;
      transition: all 0.3s;
    }
    input {
      display: block;
      cursor: pointer;
      @include position(absolute, 0 null null 0);
      width: 100%;
      height: 100%;
      z-index: 2;
      opacity: 0;
    }
  }
}
