@import "../../../../assets/sass/setup";
@import "../../../../assets/sass/grid/mixins";

.category_slider {
  background: $black;
  .slick-slide {
    height: 130px;
    position: relative;
    label{
      padding: 0;
      margin: 6px 3px;
      width: calc(100% - 6px);
      height: calc(100% - 12px);
      &:hover{
        img{
          transform: scale(1.06);
        }
      }
    }
  }
}
.category_list {
  padding: 20px 0;
  position: relative;

  &:before {
    background: url("https://cdn.pngsumo.com/background-grey-png-5-png-image-background-grey-png-1920_1080.png")
      no-repeat center center/cover;
    content: "";
    width: 100%;
    height: 100%;
    @include position(absolute, 0 null null 0);
    opacity: 0.3;
  }

  a {
    height: 200px;
    padding: 0;
    margin: 10px 0;
    transition: all 0.3s;
    border-radius: 12px;
    &:hover{
      box-shadow: 0px 6px 10px 0px rgba($color: $black, $alpha: 0.16);
      transform: scale(1.03);
    }
    
  }
}

label,
a {
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
  padding: 6px 3px;
  position: relative;
  z-index: 1;
  border-radius: 6px;
  overflow: hidden;
  &:before {
    content: "";
    @include position(absolute, 0 null null 0);
    width: 100%;
    height: 100%;
    background: rgba($color: $black, $alpha: 0.5);
    z-index: 1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    transition: all 0.3s;
  }
  span {
    z-index: 2;
    line-height: 1.3em;
    text-align: center;
    color: $light;
    font-size: 13px;
    width: 100%;
    padding: 0 10px;
    font-weight: 500;
    @include position(absolute, 50% null null 50%);
    transform: translate(-50%, -50%);
  }
}
