<section class="error_container">
  <div class="row default_middle">
    <div class="col large_6">
      <figure class="error_404_image">
        <img src="https://image.freepik.com/free-vector/error-404-concept-landing-page_52683-18367.jpg" alt="404">
      </figure>
    </div>
    <div class="col large_6">
      <div class="description_404">
        <h1>Съжаляваме, страницата не е открита.</h1>
        <a routerLink="/" class="btn" title="Към начало">Към начало</a>
      </div>
    </div>
  </div>
</section>