@import "../../../assets/sass/setup";
@import "../../../assets/sass/grid/mixins";
.opening_photo {
  padding: 50px 0;
  background: #222;
  figure {
    height: 60vh;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.photo_info {
  padding: 40px 0;
  .photo_info_inner {
    .section_title {
      padding: 0;
      margin: 0;
    }
    ul {
      li {
        line-height: 1.3em;
        position: relative;
        padding: 6px 0;
        padding-left: 24px;
        i {
          @include position(absolute, 4px null null 0);
          font-size: 18px;
          color: $accent;
        }
        a {
          font-weight: bold;
          color: $main;
          &:hover {
            color: $secondary;
          }
          &:after {
            content: ", ";
            color: $main;
          }
          &:last-child:after {
            content: none;
          }
        }
      }
    }
    .btn {
      margin-top: 16px;
    }
  }
  .author {
    display: flex;
    align-items: center;
    .author_img {
      width: 130px;
      height: 130px;
      border-radius: 130px;
      overflow: hidden;
      display: block;
      margin-right: 10px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .names {
      margin-bottom: 8px;
      display: block;
      font-size: 16px;
      font-weight: 600;
      @include breakpoint(giant) {
        font-size: 20px;
      }
    }
    .email {
      font-weight: 500;
      font-size: 15px;
      color: $main;
    }
  }
  .info {
    .section_title {
      font-size: 18px;
      margin-bottom: 0;
      padding: 0;
    }
    padding: 20px 0;
  }
}
