<section class="list_authors" *ngIf="users">
  <div class="row">
    <div class="col">
      <h3 class="section_title text_center">Authors</h3>
    </div>
    <div class="col medium_4 giant_3" *ngFor="let user of users | slice: 0:8">
      <div class="user" [ngClass]="user.isDisabled ? 'disabled' : '' ">
        <div class="disabled_user" *ngIf="authService.getUserRole() == 'admin' && router.url != '/' && user.isDisabled">
          <h4>DISABLED</h4>
          <button class="btn btn_success" (click)="restoreProfile(user._id)">Restore</button>
        </div>
        <a routerLink="/user/details/{{user._id}}">
          <img src="{{user.imgUrl ? user.imgUrl : 'https://i2.wp.com/upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png'}}">
          <div class="info">
            <span class="name">{{user.firstName}} {{user.lastName}}</span>
            <span class="email">{{user.email}}</span>
            <span class="photo_count" *ngIf="user.photos.length > 0">Photos uploaded: {{user.photos.length}}</span>
          </div>
        </a>
        <div class="action_buttons" *ngIf="authService.getUserRole() == 'admin' && router.url != '/'">
          <button class="btn btn_warning" (click)="disableProfile(user._id)">Block</button>
          <button class="btn btn_danger" (click)="deleteProfile(user._id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</section>
