<form [formGroup]="form" (ngSubmit)="edit()">
  <div class="row default_center">
    <div class="col medium_8">
      <div class="row default_center">
        <div class="col">

          <h1 class="section_title text_center">Edit product</h1>
    
          <div class="dropbox_outer input_wrapper">

            <div class="dropbox" *ngIf="!imagePreview || form.get('image').errors?.invalidMimeType"  [ngClass]="onDragover ? 'active' : ''">
              <span>Drag and drop an image or select "Add image"</span>
              <input type="file"id="filePicker" (change)="onImagePicked($event)" (dragover)="dragOver($event)" (dragleave)="dragLeave($event)">
            </div>
            <label class="btn" for="filePicker" *ngIf="!imagePreview || form.get('image').errors?.invalidMimeType">Add image</label>
            
            <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && !form.get('image').errors?.invalidMimeType">
              <img [src]="imagePreview" [alt]="form.value.title">
            </div>
            <button class="btn btn_danger" *ngIf="imagePreview !== '' && imagePreview && !form.get('image').errors?.invalidMimeType" (click)="onRemoveImage()">Remove image</button>
            
            <div class="errors" *ngIf="!form.get('image').valid">
              <span *ngIf="form.get('image').errors?.invalidMimeType">Image must be with format png, jpg or jpeg</span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="input_wrapper required ">
            <label>Title: <span class="fas fa-exclamation-circle color_accent" *ngIf="!form.get('title').valid && form.get('title').touched"></span></label>
            <input type="text" placeholder="Enter Title" formControlName="title" />
            <div class="errors" *ngIf="!form.get('title').valid && form.get('title').touched">
              <span *ngIf="form.get('title').hasError('required')">Title is required</span>
              <span *ngIf="form.get('title').hasError('maxlength')">Title is too long</span>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="input_wrapper required">
            <label>Short Description: <span class="fas fa-exclamation-circle color_accent" *ngIf="!form.get('shortDescription').valid && form.get('shortDescription').touched"></span></label>
            <textarea placeholder="Enter Short Description" formControlName="shortDescription" rows="5"></textarea>
            <div class="errors" *ngIf="!form.get('shortDescription').valid && form.get('shortDescription').touched">
              <span *ngIf="form.get('shortDescription').hasError('required')">Short description is required</span>
              <span *ngIf="form.get('shortDescription').hasError('maxlength')">Short description is too long</span>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="input_wrapper required">
            <label>Description: <span class="fas fa-exclamation-circle color_accent" *ngIf="!form.get('description').valid && form.get('description').touched"></span></label>
            <!-- <textarea placeholder="Enter Description" formControlName="description" rows="5"></textarea> -->
            <quill-editor formControlName="description" [styles]="{height: '200px'}"></quill-editor>
            <div class="errors" *ngIf="!form.get('description').valid && form.get('description').touched">
              <span *ngIf="form.get('description').hasError('required')">Description is required</span>
              <span *ngIf="form.get('description').hasError('maxlength')">Description is too long</span>
            </div>
          </div>
        </div>
        
        <div class="col medium_6">
          <div class="input_wrapper">
            <label>Old Price ($):</label>
            <input type="text" placeholder="Enter old price" formControlName="oldPrice" />
            <div class="errors" *ngIf="!form.get('oldPrice').valid && form.get('oldPrice').touched">
              <span *ngIf="form.get('oldPrice').hasError('pattern')">Old price must be a number</span>
            </div>
          </div>
        </div>
        <div class="col medium_6">
          <div class="input_wrapper required">
            <label>Price ($): <span class="fas fa-exclamation-circle color_accent" *ngIf="!form.get('price').valid && form.get('price').touched"></span></label>
            <input type="text" placeholder="Enter price" formControlName="price" />
            <div class="errors" *ngIf="!form.get('price').valid && form.get('price').touched">
              <span *ngIf="form.get('price').hasError('required')">Price is required</span>
              <span *ngIf="form.get('price').hasError('pattern')">Price must be a number</span>
            </div>
          </div>
        </div>
    
        <div class="col">
            
            <div formGroupName="categories" class="category_checkboxes row">
              <div class="col">
                <h3 class="section_title">Choose categories</h3>
                <div class="errors" *ngIf="!form.get('categories').valid && form.get('categories').touched">
                  <span *ngIf="form.get('categories').errors?.minLengthCategories">You must select at least one category</span>
                </div>
                <div class="col">
                  <div class="">
                    <div *ngFor="let category of form.controls.categories['controls']; let i = index" [ngStyle]="allCategories[i].lvl == 1 && {'margin-top': '20px'}">
                   
                      <input 
                        type="checkbox" 
                        class="category_input" 
                        id="{{allCategories[i]._id}}"
                        [formControl]="category" 
                        (change)="getSelectedCategories(category, allCategories[i].title)" 
                      > 
                      <label class="category_label" [ngStyle]="{'padding-left': allCategories[i].lvl * 22 + 'px'}" for="{{allCategories[i]._id}}">
                        <!-- <img src="{{allCategories[i].imgUrl}}" alt="{{allCategories[i].title}}"> -->
                        <div class="category_wrap">
                          <span class="custom_checkbox">
                            <span class="icon fas fa-check"></span>
                          </span>
                          <span class="category_title">{{allCategories[i].title}}</span>
                        </div>
                      </label>     
    
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
        </div>
        <div class="col default_flex default_middle default_center">
          <button type="submit" class="btn wide" [disabled]="!form.valid">Edit product</button>
          <div style="margin: 20px 10px 0;">OR</div>
          <button class="btn btn_danger wide" type="button" (click)="deleteProduct()">Delete product</button>
        </div>
    
      </div>
    </div>
  </div>
</form>