<form action="/auth/register" method="POST">
    <input type="text" name="username">
    <input type="text" name="password">
    <input type="text" name="rePass">
    <input type="submit" value="Register">
</form>