<img id="sadFaceImg"
    src="https://img.favpng.com/4/17/9/redwood-city-electronic-arts-ea-sports-logo-video-game-png-favpng-Z1vc6zQz0M76szi4CrMAUqcKq.jpg"
    alt="sad face" />
<h1>404</h1>
<h2>Page not found</h2>