@import "../../../../assets/sass/setup";
@import "../../../../assets/sass/grid/mixins";
.opening{
    height: 36vh;
    min-height: 280px;
    width: 100%;
    background: no-repeat center center/cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $light;
    z-index: 1;
    position: relative;
    &:before{
        content: '';
        @include position(absolute, 0 null null 0);
        background: rgba($color: $black, $alpha: 0.85);
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .opening_inner{
        .title{
            color: $secondary;
        }
        .sub_title{
            padding: 0 10px;
            max-width: 900px;
            font-weight: 400;
            font-size: 20px;
            line-height: 1.3em;
        }
        .btn{
            margin-top: 16px;
        }
    }

}

.category_details{
    padding: 40px 0;
}