<section class="opening" *ngIf="category" [ngStyle]="{'background-image': 'url(' + category.imgUrl + ')'}">
  <div class="opening_inner">
    <h2 class="title text_center">{{category.title}}</h2>
    <h4 class="sub_title">{{category.description}}</h4>
    <a class="btn" routerLink="/categories/edit/{{category._id}}" *ngIf="authService.getUserRole() == 'admin'">Edit category</a>
  </div>
</section>

<section class="category_details" *ngIf="category">
  <app-list-photos [category]="'&category='+ category._id +''"></app-list-photos>
</section>