@import "../../../../assets/sass/setup";
@import "../../../../assets/sass/grid/mixins";
form{
    padding: 40px 0;
}
label.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 10px 12px;
  margin-bottom: 16px;
  border-radius: 4px;
  i {
    margin-right: 10px;
  }
  span {
    display: block;
    &.text {
      font-size: 12px;
    }
  }
}
input[type="file"] {
  display: none;
}


.image-preview{
    margin-bottom: 16px;
    max-width: 400px;
    max-height: 400px;
    img{
        width: 100%;
        object-fit: contain;
    }
}