@import "../../../../assets/sass/setup";
@import "../../../../assets/sass/grid/mixins";
.show_your_photos {
  padding: 240px 0 150px;
  background: url("https://images.unsplash.com/photo-1465080298426-c19339a41ddf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80")
    no-repeat center center/cover;
  color: $light;
  text-align: right;
  position: relative;
  &:before{
      content: '';
      @include position(absolute, 0 null null 0);
      @include box(100%);
      background: rgba($color: $black, $alpha: 0.5);
  }
  .title{
      font-weight: 400;
      strong{
          font-weight: bold;
      }
  }
}

.products_home{
  padding: 30px 0 50px;
  background: $tertiary;
}