<app-category-list [isSlider]="true"></app-category-list>
<app-list-photos></app-list-photos>

<section class="show_your_photos">
    <div class="row full default_center">
        <div class="col medium_10">
            <h1 class="title">Show <strong>photos</strong> and make new <strong>friends</strong></h1>
            <a class="btn" routerLink="/photo/create">Upload new photos</a>
        </div>
    </div>
</section>

<app-list-authors></app-list-authors>


<section class="products_home">
    <div class="row default_center">
        <div class="col">
            <h2 class="section_title text_center">Products</h2>
        </div>
    </div>
    <app-list-product [isHome]="true"></app-list-product>
</section>
