<form [formGroup]="form" (ngSubmit)="edit()">
  <h1>Edit your account</h1>
  <input type="email" formControlName="email" placeholder="Email" value="{{profile?.email}}" />
  <input type="firstName" formControlName="firstName" placeholder="First Name" value="{{profile?.firstName}}"/>
  <input type="lastName" formControlName="lastName" placeholder="Last Name"  value="{{profile?.lastName}}"/>
  <textarea formControlName="info" placeholder="Short info" value="{{profile?.info}}"></textarea>
  <input type="phone" formControlName="phone" placeholder="Phone" value="{{profile?.phone}}" />

  <input type="file" #filePicker (change)="onImagePicked($event)">
  <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
    <img [src]="imagePreview" [alt]="form.value.title">
  </div>
    
  <button type="submit">Edit</button>
</form>