<form [formGroup]="form" (ngSubmit)="edit()">
  <h1>Edit your account</h1>
  <input type="email" formControlName="email" placeholder="Email" />
  <input type="firstName" formControlName="firstName" placeholder="First Name" />
  <input type="lastName" formControlName="lastName" placeholder="Last Name" />
  <textarea  formControlName="info" placeholder="Short info" ></textarea>
  <input type="email" formControlName="email" placeholder="Email" />
  <input type="phone" formControlName="phone" placeholder="Phone" />

    <input type="file" #filePicker (change)="onImagePicked($event)">
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    
  <button type="submit">Sign Up</button>
  <div class="social-container">
    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
  </div>
</form>